.subtitle {
    color: #1a2b4d99;
    font-size: 16px;
}

.input {
    background: white;
    border: 0 solid transparent;
    box-sizing: border-box;
    color: #2f3747;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 2;
    border-radius: 10px;
}

.button {
    background-color: #ffdd57;
    color: #2f3747;
    height: 48px;
    width: 120px;
    border: none;
    border-radius: 10px;
}

.inputContainer {
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 60%;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 14px;
    padding-left: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}

.linkContainer button {
    border-radius: 14px;
    background-color: #fff;
    border: solid 1px #8694b066;
    padding-top: 10px;
    padding-bottom: 10px;
}